.DS_Store
__pycache__/
*.pyc
.venv/
arena_venv/

data/
datasets/
outputs/
*.parquet
*.csv
*.zip
*.xlsx
*.xls
*.ipynb_checkpoints/
.DS_Store
__pycache__/
*.pyc
.venv/
arena_venv/
data/
datasets/
outputs/
*.parquet
*.csv
*.zip
*.xlsx
*.xls
*.ipynb_checkpoints/
